.page-header
    h1
        | Name {{todoItem.Name}}
.form-horizontal
    .row
        .col-xs-6
            .form-group
                label.control-label.col-sm-4 Name
                .col-sm-8
                    input#name.form-control(type='text' ng-model='todoItem.name')
            .form-group
                label.control-label.col-sm-4 Description
                .col-sm-8
                    input#description.form-control-static(type='text' name='description' ng-model='todoItem.description')
            .form-group
                label.control-label.col-sm-4 Done
                .col-sm-8
                   input#done.form-control-static(type='checkbox' name='done' ng-model='todoItem.done')
        .col-xs-6
            .form-group
                label.control-label.col-sm-4(for="createdat") Created At
                .col-sm-8
                    span#createdat.form-control-static {{todoItem.created_at | dateTime | date : 'dd/MM/yyyy' }}

    .form-group
        .col-sm-offset-1.col-sm-2
            input.btn.btn-primary(type='submit' value='Save' ng-click='save()')
        .col-sm-offset-1.col-sm-2
            input.btn.btn-default(type='button' value='Back' ng-click='back()')

